nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    line-height: 40px;
    font-weight: bold;
}

nav a:hover {
    color: brown;
}

.listsp h2 {
    font-size: 20px;
    background: rgb(73, 203, 212);
    padding: 10px;
    color: white
}

.listsp #data {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px
}

.listsp .sp {
    border: solid 1px rgb(231, 14, 10);
    text-align: center;
    padding: 10px;
}

.listsp .sp h3 {
    font-size: 20px;
    color: brown
}

.listsp .sp h4 {
    font-size: 18px;
}

.listsp .sp img {
    max-width: 100%;
    height: 160px;
}

.listsp .sp button {
    padding: 5px 10px;
    border: none;
    background: rgb(228, 24, 24);
    color: white
}

/* Đăng ký */
.formdk {
    width: 75%;
    margin: auto;
    border: 1px solid darkcyan
}

.formdk h2 {
    background-color: darkcyan;
    padding: 10px;
    color: white;
    font-size: 20px;
}

.formdk p {
    margin: 15px;
}

.formdk input {
    padding: 5px;
    width: 100%;
    outline: none;
}

.formdk button {
    width: 120px;
    height: 40px;
    line-height: 25px;
    border: none;
    background: darkcyan;
    color: white
}

.detail h2 {
    font-size: 20px;
    background: darkcyan;
    padding: 10px;
    color: white
}

#detail {
    display: grid;
    grid-template-columns: 50% 50%;
}

#detail #left>img {
    max-width: 100%;
}

#detail #right>h3 {
    font-size: 24px;
}

#detail #right>p {
    font-size: 20px;
    margin: 15px 0;
}

#detail #right button {
    width: 160px;
    height: 40px;
    line-height: 25px;
    border: none;
    background: darkcyan;
    color: white
}

#giohang {
    width: 75%;
    margin: auto;
    border: 1px solid darkcyan;
}

#giohang h4 {
    background-color: darkcyan;
    color: white;
    padding: 10px;
}

#giohang>p {
    display: grid;
    grid-template-columns: 300px 200px 90px 200px auto;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid darkcyan;
}

#giohang>p>*:last-child {
    text-align: right;
}

#giohang .nut {
    display: flex;
    justify-content: space-between;
}

.cartempty {
    padding: 20px;
    background: antiquewhite;
    text-align: center;
}

header {
    background-image: url(https://cdn2.cellphones.com.vn/insecure/rs:fill:1200:75/q:80/plain/https://dashboard.cellphones.com.vn/storage/special-cho-tet-new-desk.gifhttps://png.pngtree.com/thumb_back/fw800/back_pic/00/09/97/835630d8da41ca9.jpg);
}

.container>header {
    position: relative;
}

#frmtim {
    position: absolute;
    top: 5px;
    right: 20px;
    border: 1px solid wheat;
    padding: 10px;
}

.formthanhtoan {
    width: 75%;
    margin: auto;
    border: 1px solid darkcyan
}

.formthanhtoan h2 {
    background: darkcyan;
    padding: 10px;
    color: white;
    font-size: 20px;
}

.formthanhtoan p {
    margin: 15px;
}

.formthanhtoan input {
    padding: 5px;
    width: 100%;
    outline: none;
}

.formthanhtoan button {
    width: 120px;
    height: 40px;
    line-height: 25px;
    border: none;
    background: darkcyan;
    color: white
}